<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos Sk8</title>

    <link href="/css/productList.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("../partials/header")%>

    

    <section id="main-content">
        <% products.forEach(product => { %>
            <article class="product">
                <% if (product.image) { %>
                    <img class="product-image" src="/uploads/products/<%= product.image%>" alt="">
                <% } else { %>
                    <img class="product-image" src="/images/sk8-logo.png" alt="">
                <% } %>
                
                    <h2 class="product-name"><%= product.name %></h2>
                    <h4 class="description"><%= product.descript %></h4>
                    <p class="price">$<%= product.price %></p>
                    <a href="/producto/<%= product.id %>">Ver producto</a>
                
            </article>
        <% }) %>
    
    </section> 


    <%- include("../partials/footer")%>
</body>
</html>