<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sk8</title>
        <link href="/css/productStyles.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">
        <link href="/css/footer.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
    </head>
<body>
    <%- include("../partials/header")%>
    
    <section id="main-section">
        <div id="left-section">
            <p class="route-to-product"></p>
            <h2 class="product-name"><%= product.name %> </h2>
            <h4 class="product-name"><%= product.brand.name %></h4>
            <% if (product.image) { %>
                <figure><img class="product-image" src="/uploads/products/<%= product.image%>" alt=""></figure>
            <% } else { %>
                <figure><img class="product-image" src="/images/default.jpg" alt=""></figure>
            <% } %> 
            
        </div>
        
        <div id="right-section">
            <article id="rigth-top-section">
                
                <h3 class="product-price">$<%= product.price %> </h3>
                <p class="price-detail">6/12 cuotas sin interes</p>
                <a href="#" class="formas-pago">Ver los medios de pago</a>
            </article>
            
            <article id="right-middle-section">
                <label class="labels">Elegí el color</label>
                <% product.colors.forEach(color => { %>
                    <fieldset id="pick-color">
                        <input type="radio" name="color" required id="color-<%= color.id %>" value="<%= color.id %>"/>
                        <label for="color-<%= color.id %>">
                            <%= color.name %>
                        </label>
                    </fieldset>
                <% }) %>
                
                <label class="labels">Cantidad:</label>
                <input type="number" min="1" max="5" value="1" required>
            </article>

            <article>
                <button type="submit" value="buy-now" class="buy-now">Comprar ahora</button>
                <form action="/carrito/agregar" method="POST">
                    <input type="hidden" name="product_id" value=<%= product.id %> />
                    <button type="submit" value="add-to-cart" class="add-to-cart">Agregar al Carrito</button>
                </form>
            </article>
    
            <article id="right-bottom-section">
                <h4>Medios de Envio</h4>
                <p>
                    <input type="number" name="codigo" placeholder="Tu codigo Postal" class="cod-postal"><button type="submit" class="calculate">Calcular</button>
                    
                </p>
                <a href="#" class="nose-codigo-postal">No se mi codigo Postal</a>
            </article>
    
        </div>
        <div class="product-detail">
            <h3>Detalle de Producto</h3>
            <p><%= product.descript %> </p>
    
        </div>
    
    </section>
    
    <h2 class="relatedProducts">Productos Relacionados</h2>
    
    <section id="relation">

            <article class="product-relation">
                <img  src="/images/rueda.png" class="related-image">
                <button type="submit" value="add-to-cart" class="add-to-cart">Agregar al Carrito</button>
            </article>
    
            <article class="product-relation">
                <img  src="/images/tabla.png" class="related-image">
                <button type="submit" value="add-to-cart" class="add-to-cart">Agregar al Carrito</button>
            </article>
    
            <article class="product-relation" >
                <img  src="/images/truck.png" class="related-image">
                <button type="submit" value="add-to-cart" class="add-to-cart">Agregar al Carrito</button>
            </article>
    
    </section>
    
    <%- include("../partials/footer")%>
</body>
</html>