<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sk8-cart</title>
    <link href="css/cart.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("./partials/header")%>

    <main>
        <section class="main-section">
            <h3 class="main-name">Artículos</h3>
            <% productsFind.map(product => { %>
                <article>   
                    <img src="/uploads/products/<%= product.image %>" class="article-pic" alt="article-picture">
                    <div class="right-part">
                        <h3 class="product-name"><%= product.name %></h3>
                        <p class="costo-envio">Envio Gratis</p>
                        <h2 class="product-price">$<%= product.price %></h2>
                    </div>
                        <form class="article-bottom" action="/carrito/borrar/?_method=DELETE" method="POST">
                            <input type="hidden" name="id_product" value=<%= product.id %> />
                            <button type="submit">Eliminar</button>
                        </form>
                    
                </article>
            <% }) %>
        </section>

        <section class="envio-section">
            <label><h4 class="method">Método de envío:</h4></label>
            <select class="opciones" name="opcion">
                <option value="Envío">Envío</option>
                <option value="Retira">Retira en sucursal</option>
            </select>
        </section>
        <section class="pay-section">
            <h3 class="total">Total con Envío</h3>
            <h2 class="final-price">$<%= lastPrice %></h2>
            <p class="cuotas">Hasta 12 cuotas</p>
            <button type="submit" value="buy-now" class="buy-now">Finalizar compra</button>
        </section>
    </main>

    <%- include("./partials/footer")%>
</body>
</html>
