<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sk8-Registro</title>
    <link href="/css/register.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01e5ccde67.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include("../partials/header")%>

    <section>
        <form class="createForm" action="/usuario/registro" method="post" enctype="multipart/form-data">
            <h3>Creá tu cuenta en un toque</h3>
            <fieldset>
                <label for="name"></label>
                <input class="type" type="text" name="name" id="name" placeholder="Nombre" value="<%= locals.oldData ? oldData.name : null %>">
            </fieldset>
            <div class="text-error">
                <% if (locals.errors && errors.name) { %>
                    <%= errors.name.msg %> 
                <% } %> 
            </div>

            <fieldset>
                <label for="surname"></label>
                <input class="type" type="text" name="lastname" id="lastname" placeholder="Apellido" value="<%= locals.oldData ? oldData.lastname : null %>">
                <span class="feedback"></span>
            </fieldset>
            <div class="text-error">
                <% if (locals.errors && errors.lastname) { %>
                    <%= errors.lastname.msg %> 
                <% } %> 
            </div>

            <fieldset>
                <label for="email"></label>
                <input class="type" type="text" name="email" id="email" placeholder="e-mail" value="<%= locals.oldData ? oldData.email : null %>">
                <span class="feedback"></span>
            </fieldset>
            <div class="text-error">
                <% if (locals.errors && errors.email) { %>
                    <%= errors.email.msg %> 
                <% } %> 
            </div>

            <fieldset>
                <label for="password"></label>
                <input class="type" type="password" name="password" id="password" placeholder="Contraseña">
                <span class="feedback"></span>
            </fieldset>
            <div class="text-error">
                <% if (locals.errors && errors.password) { %>
                    <%= errors.password.msg %> 
                <% } %> 
            </div>

            <fieldset id="user_image">
                <legend>Imagen de perfil</legend>
                <input class="type" type="file" name="avatar" accept=".jpg, .png">
            </fieldset>
            <% if (locals.errors && errors.avatar) { %> 
                <div class="text-error">
                    <%= errors.avatar.msg %> 
                </div>
            <% } %> 

                
            <fieldset>
                <button class="sendButton" type="submit">Confirmar</button>
            </fieldset>

            <fieldset>
                <button class="eraseButton" type="reset">Borrar todo</button>
            </fieldset>
                

        </form>
    </section>

    <%- include("../partials/footer")%>

    
</body>
</html>